<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="_octopus-contents-container" th:fragment="contentFragment">
	<div class="form-group">
		<h2 class="cols-sm-12 control-label">Dimension</h2>
		<label for="_octopus-dimenstion_name" class="cols-sm-12 control-label">Name</label>
		<div class="cols-sm-6">
			<div class="input-group">
				<input type="text" class="form-control" id="_octopus-dimenstion_name"
					placeholder="Enter Name" />
			</div>
		</div>
		<label for="_octopus-dimenstion_type" class="cols-sm-12 control-label">Type</label>
		<div class="cols-sm-6">
			<div class="input-group">
				<input type="text" class="form-control" id="_octopus-dimenstion_type"
					placeholder="Enter Type" />
			</div>
		</div>
	</div>

	<div class="form-group">
		<h2 class="cols-sm-12 control-label">Metric</h2>
		<label for="_octopus-metric_amount" class="cols-sm-12 control-label">Amount</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id="_octopus-metric_amount"
					placeholder="Enter Amount" />
			</div>
		</div>
		<label for="_octopus-metric_date" class="cols-sm-2 control-label">Date</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id="_octopus-metric_date"
					placeholder="Enter Date" />
			</div>
		</div>
	</div>
</div>
</html>