<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="_octopus-contents-container" th:fragment="contentFragment">
	<div class="form-group">
		<label for="_octopus-email" class="cols-sm-2 control-label">Dimension</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id="_octopus-email"
					placeholder="Enter your Dimension" />
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="_octopus-password" class="cols-sm-2 control-label">Metric</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="password" class="form-control" id="_octopus-password"
					placeholder="Enter your Metric" />
			</div>
		</div>
	</div>

	<div class="form-group ">
		<button type="button"
			class="btn btn-primary btn-lg btn-block login-button"
			id="_octopus-join-btn">Update</button>
		<button type="button" class="btn btn-primary btn-lg btn-block"
			id="_octopus-join-btn">Save</button>
	</div>
</div>
</html>