<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="_octopus-contents-container" th:fragment="contentFragment">
	<div class="connection_unit">
		<h1>Query Schema</h1>
		<div sec:authorize="isAuthenticated()">
		  This content is only shown to authenticated users.
		</div>
		<div sec:authorize="hasRole('ROLE_ADMIN')">
		  This content is only shown to administrators.
		</div>
		<div sec:authorize="hasRole('ROLE_USER')">
		  This content is only shown to users.
		</div>
		<div class="form-group">
			<label for="_octopus-query-schema-name" class="cols-sm-2 control-label">QUERY_SCHEMA_NAME</label>
			<div class="cols-sm-10">
				<div class="input-group">
					<input type="text" class="form-control" id="_octopus-query-schema-name"
						   placeholder="Enter query schema name" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="_octopus-dimension" class="cols-sm-2 control-label">Dimension</label>
			<div class="cols-sm-10">
				<div class="input-group">
					<input type="text" class="form-control" id="_octopus-dimension"
						   placeholder="Enter your Dimension" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="_octopus-metric" class="cols-sm-2 control-label">Metric</label>
			<div class="cols-sm-10">
				<div class="input-group">
					<input type="text" class="form-control" id="_octopus-metric"
						   placeholder="Enter your Metric" />
				</div>
			</div>
		</div>
	</div>

	<div class="form-group ">
		<button type="button" class="btn btn-primary btn-lg btn-block"
			id="_octopus-query-schema-save-btn">Update & Save</button>
	</div>

	<hr>

	<div class="connection_unit">
		<h1>Indexing Control</h1>
		<div class="form-group ">
			<button type="button" class="btn btn-primary btn-lg btn-block"
					id="_octopus-query-schema-start-indexing-btn">Start Indexing</button>
		</div>
	</div>

	<hr>

	<div class="connection_unit">
		<h1>Log Stash</h1>
		<div class="form-group">
			<label for="_octopus-logstash-query-name" class="cols-sm-2 control-label">queryName</label>
			<div class="cols-sm-10">
				<div class="input-group">
					<input type="text" class="form-control" id="_octopus-logstash-query-name"
						   placeholder="You have to Start Indexing" readonly />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="_octopus-logstash-secretKey" class="cols-sm-2 control-label">secretKey</label>
			<div class="cols-sm-10">
				<div class="input-group">
					<input type="text" class="form-control" id="_octopus-logstash-secretKey"
						   placeholder="You have to Start Indexing" readonly />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="_octopus-logstash-url" class="cols-sm-2 control-label">Log Stash URL</label>
			<div class="cols-sm-10">
				<div class="input-group">
					<input type="text" class="form-control" id="_octopus-logstash-url"
						   placeholder="You have to Start Indexing" readonly />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="_octopus-logstash-example" class="cols-sm-2 control-label">Log Stash Example</label>
			<div class="cols-sm-10">
				<div class="input-group">
					<textarea class="form-control" id="_octopus-logstash-example"
						   placeholder="You have to Start Indexing" readonly rows="30" cols="50"></textarea>
				</div>
			</div>
		</div>
	</div>

	<hr>
	<script src="/resources/js/querySchema.js"></script>
</div>
</html>