<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="_octopus-contents-container" th:fragment="contentFragment">
	<div class="connection_unit">
		<h1>Unit1</h1>
		<div class="form-group">
			<!-- <label for="_octopus-email" class="cols-sm-2 control-label">Dimension</label> -->
			<div class="cols-sm-12">
				<div class="input-group">
					<select id="_octopus-streaming" class="width-inherit">
						<option value="druid">druid</option>
					</select>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="_octopus-ip" class="cols-sm-2 control-label">IP</label>
			<div class="cols-sm-10">
				<div class="input-group">
					<input type="text" class="form-control" id="_octopus-ip"
						placeholder="Enter your IP"
						value="kang0921ok.c69qhd8qewh9.ap-northeast-2.rds.amazonaws.com" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="_octopus-port" class="cols-sm-2 control-label">Port</label>
			<div class="cols-sm-10">
				<div class="input-group">
					<input type="text" class="form-control" id="_octopus-port"
						placeholder="Enter your Port" value="3306" />
				</div>
			</div>
		</div>

		<div class="form-group ">
			<button type="button"
				class="btn btn-primary btn-lg btn-block login-button"
				id="_octopus-join-btn">Connection Test</button>
		</div>
	</div>
	
	<hr>
	
	<div class="connection_unit">
		<h1>Unit2</h1>
		<div class="form-group">
			<!-- <label for="_octopus-email" class="cols-sm-2 control-label">Dimension</label> -->
			<div class="cols-sm-12">
				<div class="input-group">
					<select id="_octopus-streaming" class="width-inherit">
						<option value="kafka">kafka</option>
					</select>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="_octopus-ip" class="cols-sm-2 control-label">IP</label>
			<div class="cols-sm-10">
				<div class="input-group">
					<input type="text" class="form-control" id="_octopus-ip"
						placeholder="Enter your IP"
						value="kang0921ok.c69qhd8qewh9.ap-northeast-2.rds.amazonaws.com" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="_octopus-port" class="cols-sm-2 control-label">Port</label>
			<div class="cols-sm-10">
				<div class="input-group">
					<input type="text" class="form-control" id="_octopus-port"
						placeholder="Enter your Port" value="3306" />
				</div>
			</div>
		</div>

		<div class="form-group ">
			<button type="button"
				class="btn btn-primary btn-lg btn-block login-button"
				id="_octopus-join-btn">Connection Test</button>
		</div>
	</div>
</div>
</html>