<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	Welcome to Index

	<div id="result"></div>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script>
		$.get("${cp}/userList", function(data) {
			console.log(data);
			var text;
			$.each(data, function(key, value){
				alert( key + ": " + value.userId );
			})
			$("#result").html(text);
		}).done(function() {
			alert("Load was performed.");
		}).fail(function() {
			alert("error");
		}).always(function() {
			alert("finished");
		});
	</script>
</body>
</html>