<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="osc.gobaby.statistics_cloud.query.repository.QueryMapper">

    <resultMap id="QueryResultMap" type="osc.gobaby.statistics_cloud.query.entity.Query">
        <id column="query_id" jdbcType="VARCHAR" property="queryId"/>
        <id column="query_nm" jdbcType="VARCHAR" property="queryName"/>
        <id column="dimension" jdbcType="VARCHAR" property="dimension"/>
        <id column="metric" jdbcType="VARCHAR" property="metric"/>
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <id column="update_date" jdbcType="DATE" property="updateDate"/>
    </resultMap>

    <select id="selectOne" parameterType="String" resultMap="QueryResultMap">
        select
        *
        from
        query
        where query_id = #{queryId,jdbcType=VARCHAR}
    </select>

    <select id="selectList" resultMap="QueryResultMap">
        select
        *
        from
        query
    </select>

    <select id="selectListForUserId" parameterType="String" resultMap="QueryResultMap">
        select
        *
        from
        query
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="osc.gobaby.statistics_cloud.query.entity.Query">
        insert
        into query
        (
        <include refid="base_column_list"/>
        )
        values
        (
        #{queryId,jdbcType=VARCHAR},
        #{queryName,jdbcType=VARCHAR},
        #{dimension,jdbcType=VARCHAR},
        #{metric,jdbcType=VARCHAR},
        #{userId,jdbcType=VARCHAR},
        now()
        )
    </insert>

    <update id="update" parameterType="osc.gobaby.statistics_cloud.query.entity.Query">
        update
        query
        SET
        query_id = #{queryId, jdbcType=VARCHAR},
        query_nm = #{queryName, jdbcType=VARCHAR},
        dimension = #{dimension, jdbcType=VARCHAR},
        metric = #{metric, jdbcType=VARCHAR},
        user_id = #{userId, jdbcType=VARCHAR},
        update_date = now()
        WHERE
        id = #{id, jdbcType=VARCHAR}
    </update>

    <sql id="base_column_list">
        query_id,
        query_nm,
        dimension,
        metric,
        user_id,
        update_date
    </sql>

</mapper>